.card {
  border: none;
  -webkit-box-shadow: 1px 0 20px rgba(96, 93, 175, 0.05);
  box-shadow: 1px 0 20px rgba(96, 93, 175, 0.05);
  margin-bottom: 30px;
}

.table {
  th {
    font-weight: 500;
    color: #827fc0;
  }

  thead {
    background-color: #f3f2f7;
  }

  > {
    tbody > tr > td, tfoot > tr > td, thead > tr > td {
      padding: 14px 12px;
      vertical-align: middle;
    }
  }

  tr td {
    color: #8887a9;
  }
}