<div *ngIf="existedQuotation" class="container">
  <div class="row">
    <div class="col-md-10 col-sm-12">
      <h2 class="more-vertical">
        Quotation Details </h2>
    </div>
    <div align="right" class="col-md-2 justify-content-end">
      <a (click)="goToPreviousRoute()" class="w-25 mx-3"
         fullWidth nbButton nbTooltip="Go Back" nbTooltipStatus="primary" shape="round" status="basic">
        <nb-icon icon="corner-up-right"></nb-icon>
      </a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <nb-accordion>
        <nb-accordion-item expanded="true">
          <nb-accordion-item-header>Quotation Information</nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 text-sm">Creation Date</p>
              </div>
              <div class="col-sm-9 text-secondary">
                {{moment(existedQuotation.quotationCreation).format("DD MMM YYYY hh:mm A")}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 text-sm">Reference</p>
              </div>
              <div class="col-sm-9 text-secondary">
                {{existedQuotation.quotationNumber}}
              </div>
            </div>
            <hr>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <br>
      <nb-accordion>
        <nb-accordion-item expanded="true">
          <nb-accordion-item-header>Materials ({{existedQuotation.rfq?.pr?.material?.length}})</nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row">
              <div class = "col-md-11">
                <table class="table mb-0">
                  <thead class="bg-light">
                  <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>SKU</th>
                    <th>Category</th>
                    <th>Barcode</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody
                    *ngFor="let material of existedQuotation?.rfq?.pr?.material">
                  <tr class="col-md-9 col-sm-10">
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="ms-3">
                          <p class=" mb-1">{{material.materialType}}</p>
                        </div>
                      </div>
                    </td>
                    <td><p class="fw-normal mb-1">{{material.materialName}}</p></td>
                    <td><p class="fw-normal mb-1">{{material.materialSKU}}</p></td>
                    <td><p class="fw-normal mb-1">{{material.materialCategory?.categoryName}}</p></td>
                    <td>
                      <p class="fw-normal mb-1" *ngIf="!material.materialBarcode">-</p>
                      <p class="fw-normal mb-1" *ngIf="material.materialBarcode">{{material.materialBarcode}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">
                        {{material.materialPrice}} {{existedQuotation.supplier?.supplierCurrency}}
                      </p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1" *ngIf="material.materialType !== 'Service'">
                        {{material.materialQuantity}}
                      </p>
                      <p class="fw-normal mb-1" *ngIf="material.materialType === 'Service'">
                        -
                      </p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1" *ngIf="material.materialType !== 'Service'">
                        {{material.materialPrice * material.materialQuantity + 
                      material.materialPrice * material.materialQuantity * (material.materialVAT/100)}} 
                        {{existedQuotation.supplier?.supplierCurrency}} 
                        <small>
                          (Incl. {{material.materialVAT}}% Taxes)
                        </small>
                      </p>
                      <p class="fw-normal mb-1" *ngIf="material.materialType === 'Service'">
                        {{material.materialPrice + material.materialPrice * (material.materialVAT/100)}} 
                        {{existedQuotation.supplier?.supplierCurrency}}
                        <small>
                          (Incl. {{material.materialVAT}}% Taxes)
                        </small>
                      </p>
                    </td>
                    <td>
                      <a [routerLink]="['/pim/procurement/material', material.materialId]"
                         style="text-decoration: none;">
                        <button nbButton status="info" size="small">
                          See Details
                        </button>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-1">
                <nb-icon icon="info-outline"
                         nbTooltip="Materials" nbTooltipStatus="primary"></nb-icon>
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <br>
      <nb-accordion>
        <nb-accordion-item expanded="true">
          <nb-accordion-item-header>Supplier</nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row">
              <div class = "col-md-11">
                <table class="table mb-0">
                  <thead class="bg-light">
                  <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>Company</th>
                    <th>Currency</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="col-md-9 col-sm-10">
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <nb-user [name]="existedQuotation.supplier?.supplierFirstName + ' ' 
                            + existedQuotation.supplier?.supplierLastName"
                                     picture="{{existedQuotation.supplier?.supplierImage}}"
                                     size="medium"></nb-user>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">
                        <a href="mailto:{{existedQuotation.supplier?.supplierEmail}}" nbTooltip="Send Email" nbTooltipStatus="info">
                          {{existedQuotation.supplier?.supplierEmail}}
                        </a>
                      </p>
                    </td>
                    <td><p class="fw-normal mb-1">{{existedQuotation.supplier?.supplierCountry}}</p></td>
                    <td>
                      <p class="fw-normal mb-1">
                        {{existedQuotation.supplier?.supplierCompany}}
                      </p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1" *ngIf="existedQuotation.supplier?.supplierCurrency === '€'">
                        Euro
                      </p>
                      <p class="fw-normal mb-1" *ngIf="existedQuotation.supplier?.supplierCurrency === '$'">
                        Dollar
                      </p>
                      <p class="fw-normal mb-1" *ngIf="existedQuotation.supplier?.supplierCurrency === 'TD'">
                        Tunisian Dinar
                      </p>
                    </td>
                    <td>
                      <a [routerLink]="['/pim/supplier', existedQuotation.supplier?.supplierId]"
                         style="text-decoration: none;">
                        <button nbButton status="info" size="small">
                          See Details
                        </button>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-1">
                <nb-icon icon="info-outline"
                         nbTooltip="Materials" nbTooltipStatus="primary"></nb-icon>
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
  </div>
</div>
