<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
  <div class="container">
    <nb-card-header>
      <div class="row">
        <div class="col-md-3">
          <h3>All Purchases</h3>
        </div>
        <div class="col-md-4">
          <input [(ngModel)]="search" *ngIf="purchaseProcesses.length > 0"
                 nbInput class="w-75" placeholder="Search Purchase"
                 type="text">
        </div>
        <div class="col-md-5">
          <a [routerLink]="['/pim/procurement/material/buy/1']" 
             class="btn btn-primary font-weight-bold text-white text-decoration-none">
            <i class="fas fa-plus text-white"></i> CREATE NEW PURCHASE
          </a>
        </div>
      </div>
    </nb-card-header>
    <div *ngIf="!purchaseProcesses || purchaseProcesses.length === 0" align="center">
      <nb-alert class="w-100 mt-3" outline="danger">No Purchase Found.</nb-alert>
    </div>
    <div *ngIf="(purchaseProcesses | filter : search).length === 0" [hidden]="purchaseProcesses.length === 0"
         class="">
      <nb-alert class="col-lg-12 mt-3" fullWidth outline="danger">Item Not Found.</nb-alert>
    </div>
    <div class="row mt-3" *ngIf="purchaseProcesses.length > 0">
      <div class="input-group col-md-12">
        <table class="table mb-0">
          <thead class="bg-light">
          <tr>
            <th>Selected Materials</th>
            <th>Purchase Requisition</th>
            <th>Request For Quotation</th>
            <th>Quotations</th>
            <th>Selected Supplier</th>
            <th>Purchase Order</th>
            <th>Step</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody *ngFor="let purchaseProcess of purchaseProcesses | filter : search | paginate : 
          {itemsPerPage: pageSize, currentPage: current,totalItems: purchaseProcesses.length}">
          <tr>
            <td *ngIf="purchaseProcess.materials">
                <span *ngIf="purchaseProcess.materials?.length === 1" class="text-white">
                  {{purchaseProcess.materials?.length}} Material
                </span>
                <span *ngIf="purchaseProcess.materials?.length > 1" class="text-white">
                  {{purchaseProcess.materials?.length}} Materials
                </span>
            </td>
            <td *ngIf="purchaseProcess.pr">
              <a [routerLink]="['/pim/procurement/purchase-requisition', purchaseProcess.pr?.purchaseRequisitionId]"
                 style="text-decoration: none">
                <button nbButton shape="round" size="small" *ngIf="purchaseProcess.pr?.purchaseRequisitionStatus === 'Pending'"
                        status="dark" class="purchaseRequisition bg-warning text-dark" 
                        nbTooltip="{{purchaseProcess.pr.purchaseRequisitionStatus}}"
                        nbTooltipStatus="warning">
                  {{purchaseProcess.pr?.purchaseRequisitionNumber}}
                </button>
                <button nbButton shape="round" size="small" *ngIf="purchaseProcess.pr?.purchaseRequisitionStatus === 'Rejected'"
                        status="dark" class="purchaseRequisition bg-danger text-white"
                        nbTooltip="{{purchaseProcess.pr.purchaseRequisitionStatus}}"
                        nbTooltipStatus="danger">
                  {{purchaseProcess.pr?.purchaseRequisitionNumber}}
                </button>
                <button nbButton shape="round" size="small" *ngIf="purchaseProcess.pr?.purchaseRequisitionStatus === 'Approved'"
                        status="dark" class="purchaseRequisition bg-success text-white"
                        nbTooltip="{{purchaseProcess.pr.purchaseRequisitionStatus}}"
                        nbTooltipStatus="success">
                  {{purchaseProcess.pr?.purchaseRequisitionNumber}}
                </button>
              </a>
            </td>
            <td *ngIf="!purchaseProcess.pr" class="text-white">
              -
            </td>
            <td *ngIf="purchaseProcess.rfq">
              <a [routerLink]="['/pim/procurement/rfq', purchaseProcess.rfq?.rfqId]"
                 style="text-decoration: none">
                <button nbButton shape="round" size="small"
                        status="dark" class="rfq">
                  {{purchaseProcess.rfq?.rfqNumber}}
                </button>
              </a>
            </td>
            <td *ngIf="!purchaseProcess.rfq" class="text-white">
              -
            </td>
            <td *ngIf="purchaseProcess.quotations">
                <span class="text-white">
                  {{purchaseProcess.quotations?.length}} Quotations
                </span>
            </td>
            <td *ngIf="!purchaseProcess.quotations" class="text-white">
              -
            </td>
            <td *ngIf="purchaseProcess.supplier">
              <a [routerLink]="['/pim/supplier', purchaseProcess.supplier?.supplierId]"
                 style="text-decoration: none">
                <nb-user [name]="purchaseProcess.supplier?.supplierFirstName + ' ' + purchaseProcess.supplier?.supplierLastName"
                         picture="{{purchaseProcess.supplier?.supplierImage}}" size="medium"></nb-user>
              </a>
            </td>
            <td *ngIf="!purchaseProcess.supplier" class="text-white">
              -
            </td>
            <td *ngIf="purchaseProcess.po">
              <a [routerLink]="['/pim/procurement/purchase-order/detail', purchaseProcess.po?.poId]"
                 style="text-decoration: none">
                <button nbButton shape="round" size="small" 
                        nbTooltip="{{purchaseProcess.po.poStatus}}"
                        nbTooltipStatus="success"
                        status="dark" class="po text-white bg-success" 
                        *ngIf="purchaseProcess.po?.poStatus === 'Approved'">
                  {{purchaseProcess.po?.poNumber}}
                </button>
                <button nbButton shape="round" size="small"
                        nbTooltip="{{purchaseProcess.po.poStatus}}"
                        nbTooltipStatus="danger"
                        status="dark" class="po text-white bg-danger"
                        *ngIf="purchaseProcess.po?.poStatus === 'Rejected'">
                  {{purchaseProcess.po?.poNumber}}
                </button>
                <button nbButton shape="round" size="small"
                        nbTooltip="{{purchaseProcess.po.poStatus}}"
                        nbTooltipStatus="warning"
                        status="dark" class="po text-dark bg-warning"
                        *ngIf="purchaseProcess.po?.poStatus === 'Pending'">
                  {{purchaseProcess.po?.poNumber}}
                </button>
              </a>
            </td>
            <td *ngIf="!purchaseProcess.po" class="text-white">
              -
            </td>
            <td class="text-white">
              {{purchaseProcess.step}}
            </td>
            <td>
              <button nbButton status="success" size="small"
                      (click)="continuePurchase(purchaseProcess)" *ngIf="purchaseProcess.step < 7 
                      && purchaseProcess.pr?.purchaseRequisitionStatus !== 'Rejected'
                      && purchaseProcess.po?.poStatus !== 'Rejected'" 
                      [disabled]="purchaseProcess.pr?.purchaseRequisitionStatus === 'Pending'">
                Continue Purchase
              </button>
              <button nbButton status="danger" size="small"
                      (click)="endProcessPR()" *ngIf="purchaseProcess.pr?.purchaseRequisitionStatus === 'Rejected'"
                      nbTooltip="Purchase Process must end because purchase requisition is REJECTED by the Finance Team."
                      nbTooltipStatus="danger">
                End Process
              </button>
              <button nbButton status="danger" size="small"
                      (click)="endProcessPR()" *ngIf="purchaseProcess.po?.poStatus === 'Rejected'"
                      nbTooltip="Purchase Process must end because purchase order is REJECTED by the Finance Team."
                      nbTooltipStatus="danger">
                End Process
              </button>
              <span *ngIf="purchaseProcess.step === 7"
                      nbTooltip="Purchase Process is DONE!"
                      nbTooltipStatus="success" class="text-success font-weight-bold">
                DONE <i class="fa fa-check"></i>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div><br/>
    <div class="d-flex justify-content-center" *ngIf="purchaseProcesses.length > 0">
      <nav aria-label="Page navigation example" class="bg-light" style="border-radius: 25px; height: 35px;">
        <pagination-controls (pageChange)="current = $event" align="right"></pagination-controls>
      </nav>
    </div>
  </div>
</div>

