.table {
  th {
    font-weight: 600;
    color: black;
  }

  thead {
    background-color: #f3f2f7;

  }

  > {
    tbody > tr > td, tfoot > tr > td, thead > tr > td {
      padding: 14px 12px;
      vertical-align: middle;
    }
  }

  tr td {
    color: #8887a9;
  }
}

.purchaseRequisition:hover {
  background-color: #2b8cf1;
  color: white;
}

.rfq:hover {
  background-color: #2b8cf1;
  color: white;
}

.quotations:hover {
  background-color: #2b8cf1;
  color: white;
}

.po:hover {
  background-color: #2b8cf1;
  color: white;
}