<div align = "left">
    <button class = "btn btn-primary" (click)="goToPreviousRoute()"
    nbButton nbTooltip="Back" nbTooltipStatus="info" 
            outline shape="round" status="danger">
      <nb-icon icon="corner-up-left-outline"></nb-icon>
    </button><h5 align = "center">Purchase Order Details</h5>
</div>
<ngx-process [completedState6]="completedState6" [completedState5]="completedState5" 
             [completedState4]="completedState4" [completedState3]="completedState3" 
             [completedState2]="completedState2" [completedState1]="completedState1" [selectedIndex]=6></ngx-process>
<nb-card>
      <nb-card-header>Purchase Order Details</nb-card-header>
      <nb-card-body>
        <h6>Purchase Order</h6><br/>
        <div class="row">
          <div class="col-sm-6">
            <b>Created At:</b> {{poCreationDate}}
          </div>
          <div class="col-sm-6">
            <b>Purchase Order Code:</b> {{existedPO.poNumber}}
          </div>
        </div><br/>
        <div class="row">
          <div class="col-sm-6">
            <b>Purchase Order Status:</b> {{existedPO.poStatus}}
          </div>
        </div><br/><br/>
        <h6>Chosen Vendor</h6><br/>
        <div class="row">
          <div class="col-sm-6">
            <b>First Name:</b> {{existedPO.selectedSupplier.supplierFirstName}}
          </div>
          <div class="col-sm-6">
            <b>Last Name:</b> {{existedPO.selectedSupplier.supplierLastName}}
          </div>
        </div><br/>
        <div class="row">
          <div class="col-sm-6">
            <b>Email:</b> {{existedPO.selectedSupplier.supplierEmail}}
          </div>
          <div class="col-sm-6">
            <b>Company:</b> {{existedPO.selectedSupplier.supplierCompany}}
          </div>
        </div><br/>
        <div class="row">
          <div class="col-sm-6">
            <b>Country:</b> {{existedPO.selectedSupplier.supplierCountry}}
          </div>
          <div class="col-sm-6">
            <b>Phone Number:</b> {{existedPO.selectedSupplier.supplierPhoneNumber}}
          </div>
        </div><br/><br/>
        <div class = "row" *ngIf="existedPO.materials.length > 0">
         <h6>Materials</h6>
         <table class="table mb-0">
          <thead class="bg-light">
           <tr>
            <th>Material Type</th>
            <th>Material Name</th>
            <th>Material SKU</th>
            <th>Material Category</th>
            <th>Material Unit</th>
            <th>Material Quantity</th>
            <th>Material Price</th>
            <th>Price + Taxes</th>
            <th>Receipt Confirmation</th>
          </tr>
          </thead>
         <tbody
          *ngFor="let material of existedPO.materials">
          <tr class="col-md-9 col-sm-10">
           <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class=" mb-1">{{material.materialType}}</p>
              </div>
            </div>
           </td>
            <td><p class="fw-normal mb-1">{{material.materialName}}</p></td>
            <td><p class="fw-normal mb-1">{{material.materialSKU}}</p></td>
            <td><p class="fw-normal mb-1">{{material.materialCategory.categoryName}}</p></td>
            <td><p class="fw-normal mb-1">{{material.materialUnit}}</p></td>
            <td>
              <p class="fw-normal mb-1" *ngIf="material.materialType !== 'Service'">
                {{material.materialQuantity}}
              </p>
              <p class="fw-normal mb-1" *ngIf="material.materialType === 'Service'">
                -
              </p>
            </td>
            <td>
              <p class = "fw-normal mb-1">
                {{material.materialPrice}} {{material.materialPriceCurrency}}
              </p>
            </td>
            <td>
              <p class = "fw-normal mb-1">
                {{material.materialPrice + material.materialPrice * (material.materialVAT / 100)}} {{material.materialPriceCurrency}}
              </p>
            </td>
            <td>
              <p class = "fw-normal mb-1">
                <button class="btn btn-info" nbTooltip="Confirm Material Receipt" 
                        (click)="confirmReceipt(material)"
                        nbTooltipStatus="info">
                  Confirm Receipt
                </button>
              </p>
            </td>
           </tr>
          </tbody>
         </table>
        </div><br/>
        <div class="row">          
          <div class="col-sm-6">
            <div class="form-group">
              <button type="submit" (click)="goToMaterialsList()"
                      nbButton [disabled]="receiptOkayMat < this.existedPO.materials.length + 1">
                Finish <nb-icon icon="corner-up-right-outline"></nb-icon>
              </button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
