
:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  width: 50px;
  text-align: center;
  font-size: 1.1em;
  margin-top: 5em;
  margin-left: 0.65em;
  

}
:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5dcfe3;}
:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  float: left !important;

  margin-top: 0.5em;
  text-align: center;
}
canvas {
  display: block;
  box-shadow: 0 0 5px 1px #999;
  
  background-color: white;
}



