

<nb-card>
  <nb-card-body>

    <div class="row">
      <div class="col-md-3"><h3>Accounts list</h3></div>
      <div class="col-md-4" align="middle"><input  fullWidth placeholder="Search" nbInput [nbFilterInput]="dataSource"
                                                 id="search" class="search-input">
      </div>
      <div class="col-md-5" align="right">
        <button  nbTooltip="Export to excel file" nbTooltipStatus="primary" nbButton status="success"><i
          class="fas fa-file-excel text-white"></i></button>

        <button  class="mx-2" nbTooltip="Export to pdf file" nbTooltipStatus="primary" nbButton status="danger"><i
          class="fas fa-file-pdf text-white"></i></button>
      </div>
    </div>
    
    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns" ></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>


      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{customColumn  | titlecase }} 
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <button nbTreeGridRowToggle
                      *ngIf="row.hasChildren()"
                      [attr.aria-label]="row.expanded ? 'collapse' : 'expand'">
                <nb-icon [icon]="row.expanded ? 'chevron-down-outline' : 'chevron-right-outline'"
                         aria-hidden="true">
                </nb-icon>
              </button>
          {{row.data[customColumn] }}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column  | titlecase}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '0'}}</td>
      </ng-container>

    </table>

  </nb-card-body>
</nb-card>