<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
  <div class="container">
    <nb-card-header>
      <div class="row">
        <div class="col-md-3">
          <h3>Receipts</h3>
        </div>
        <div class="col-md-4">
          <div class="row">
            <input [(ngModel)]="search"
                   nbInput class="w-75" placeholder="Search Receipt"
                   type="text">
          </div>
        </div>
        <div class="col-md-5">
          <a [routerLink]="['/pim/receipts/grid']" nbButton
               nbTooltip="Visualize data on dimensions grid 2x2" nbTooltipStatus="primary" status="primary">
              <nb-icon icon="grid-outline"></nb-icon>
            </a>&nbsp;
            <a [routerLink]="['/pim/receipts']" nbButton
               nbTooltip="Visualize data on keypad " nbTooltipStatus="primary" status="warning">
              <nb-icon icon="keypad-outline"></nb-icon>
            </a>&nbsp;
            <a [routerLink]="['/pim/receipts/list']" nbButton
               nbTooltip="Visualize data on list " nbTooltipStatus="primary" status="basic">
              <nb-icon icon="list-outline"></nb-icon>
            </a>&nbsp;
            <button (click)="exportAsXLSX()"
                    align="right" nbButton 
                    nbTooltip="Click here to export data to Excel" nbTooltipStatus="primary"
                    status="success">
              <i class="fas fa-file-excel text-white"></i>
            </button>&nbsp;
            <a [routerLink]="['/pim/receipt/create']" class="btn btn-primary"
            nbTooltip="Create new Receipt" nbTooltipStatus="primary">
              <i class="fas fa-plus text-white"></i>
            </a>
        </div>
      </div>
    </nb-card-header>
</div>
<div *ngIf="!dataReceipts || dataReceipts.length === 0" align="center">
      <nb-alert class="w-100 mt-3" outline="danger">No Data Found.</nb-alert>
    </div>
    <div *ngIf="(dataReceipts | filter : search).length === 0" [hidden]="dataReceipts.length === 0"
         class="">
      <nb-alert class="col-lg-12 mt-3" fullWidth outline="danger">Item Not Found.</nb-alert>
    </div>
<div class="row mt-3">
  <div class="col-md-3">
        <nb-form-field>
          <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
          <input [nbDatepicker]="datepickerCreated" placeholder="Filter By Creation Date"
                 style="cursor: pointer"
               class="mx-2 mt-3 w-100" nbInput>
              <nb-datepicker #datepickerCreated
                             (dateChange)="getReceiptsByCreationDate($event)"></nb-datepicker>
        </nb-form-field>
        <nb-form-field>
          <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
          <input [nbDatepicker]="datepickerReceipt" placeholder="Filter By Receipt Date"
                 style="cursor: pointer"
               class="mx-2 mt-3 w-100" nbInput>
              <nb-datepicker #datepickerReceipt
                             (dateChange)="getReceiptsByReceiptDate($event)"></nb-datepicker>
        </nb-form-field>
        <nb-form-field>
          <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
          <nb-select placeholder="Sort by Reference"
                       selected="0" class="mx-2 mt-3 w-100">
              <nb-option (click)="getAllReceipts()" value="All">All</nb-option>
              <nb-option (click)="getAllReceiptsASC()" value="1">Reference (A-Z)</nb-option>
              <nb-option (click)="getAllReceiptsDESC()" value="2">Reference (Z-A)</nb-option>
            </nb-select>
        </nb-form-field>
        <div class="col-lg-10 mt-3">
        <label>Receipts Per Page</label>
        <input [(ngModel)]="pageSize" placeholder="Number to get receipts per page"
                 nbTooltip="Tap a number to get receipts per page" nbTooltipStatus="primary"
               class="w-100" min="3" nbInput type="number">
      </div>
      </div>
   <div class="input-group col-md-9">
  <div class="col-md-6"
           *ngFor="let receipt of dataReceipts | filter : search | paginate : 
           {itemsPerPage: pageSize, currentPage: current,totalItems: dataReceipts.length} ; let i =index">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-md-10">
          Reference: {{receipt.receiptRef}}
          <br><br>
          <span>Created: 
            {{moment(receipt.receiptCreationDate).format('DD MMM YYYY')}}
          </span><br/><br>
          <span>Delivered: 
            {{moment(receipt.purchaseOrder.reelRD).format('DD MMM YYYY hh:mm A')}}
          </span><br/><br>
          <span>Notes: 
            <span *ngIf="receipt.notes">{{receipt.notes}}</span>
            <span *ngIf="!receipt.notes">-</span>
          </span><br/><br/>
          Supplier:<br/>
          <a [routerLink]="['/pim/supplier', receipt.purchaseOrder.selectedSupplier.supplierId]"
               class="font-weight-bold" style="text-decoration: none; cursor: pointer" 
               nbTooltip="Supplier Details" nbTooltipStatus="info">
            <nb-user [name]="receipt.purchaseOrder.selectedSupplier.supplierFirstName + ' ' 
            + receipt.purchaseOrder.selectedSupplier.supplierLastName" 
                       picture="{{receipt.purchaseOrder.selectedSupplier.supplierImage}}" size="medium">
              </nb-user>
            </a>
          <br/>
          Purchase Order:<br/>
          <a [routerLink]="['/pim/procurement/purchase-order/detail', receipt.purchaseOrder.poId]"
                    style="text-decoration: none" nbTooltip="Purchase Order Details" nbTooltipStatus="info">
               <button nbButton shape="round" size="small" 
                       status="dark" class="poRef">
                  {{receipt.purchaseOrder.poNumber}}
               </button>
            </a><br/><br/>
        </div>
        <div class="col-md-2">
          <button [matMenuTriggerFor]="menu" aria-expanded="false" aria-haspopup="true"
                        shape="round" status="basic"
                        aria-label="Example icon-button with a menu" nbButton
                        nbTooltip="Click here to see advanced menu"
                        nbTooltipStatus="primary"
                        size="small">
                  <nb-icon icon="more-horizontal-outline"></nb-icon>
                </button>
          <mat-menu #menu="matMenu">
                  <button mat-menu-item >
                      <a [routerLink]="['/pim/receipt',receipt.receiptId]" nbButton fullWidth>
                        <span class="text-info"><nb-icon icon="eye-outline"></nb-icon></span>Details
                      </a>
                  </button>
                               <button mat-menu-item>
                        <a (click)="open2(dialog)" fullWidth nbButton>
                          <span class="text-secondary"><nb-icon icon="archive-outline"></nb-icon></span>Archive
                        </a>
                      </button>
                </mat-menu>
          <ng-template #dialog let-data let-ref="dialogRef">
                  <nb-card>
                    <nb-card-header>
                      Confirm archive operation ?
                    </nb-card-header>
                    <nb-card-body>
                      Are you sure you would like to archive this receipt?
                    </nb-card-body>
                    <nb-card-footer>
                      <button (click)="ref.close()" class="float-left" nbButton status="danger">
                        No
                      </button>
                      <button (click)="onArchiveConfirm(receipt, ref)" class="float-right" nbButton
                      status="success">
                        Yes
                      </button>
                    </nb-card-footer>
                  </nb-card>
                </ng-template>
        </div>
      </div>
      <div align="center">
            <ngb-rating [max]="10" [(rate)]="receipt.receiptRate" [readonly]="true"
                    style="font-size: 2rem; color: red;" *ngIf="receipt.receiptRate <= 2"
                    nbTooltip="Rated {{receipt.receiptRate}} out of 10" nbTooltipStatus="danger">
            </ngb-rating>
            <ngb-rating [max]="10" [(rate)]="receipt.receiptRate" [readonly]="true"
                    style="font-size: 2rem; color: orange;" *ngIf="receipt.receiptRate >= 3 && receipt.receiptRate <= 4"
            nbTooltip="Rated {{receipt.receiptRate}} out of 10" nbTooltipStatus="warning">
            </ngb-rating>
            <ngb-rating [max]="10" [(rate)]="receipt.receiptRate" [readonly]="true"
                    style="font-size: 2rem; color: yellow;" *ngIf="receipt.receiptRate >= 5 && receipt.receiptRate <= 6"
            nbTooltip="Rated {{receipt.receiptRate}} out of 10" nbTooltipStatus="warning">
            </ngb-rating>
            <ngb-rating [max]="10" [(rate)]="receipt.receiptRate" [readonly]="true"
                    style="font-size: 2rem; color: #a2ff00;" *ngIf="receipt.receiptRate >= 7 && receipt.receiptRate <= 8"
            nbTooltip="Rated {{receipt.receiptRate}} out of 10" nbTooltipStatus="success">
            </ngb-rating>
            <ngb-rating [max]="10" [(rate)]="receipt.receiptRate" [readonly]="true"
                    style="font-size: 2rem; color: green;" *ngIf="receipt.receiptRate >= 9"
            nbTooltip="Rated {{receipt.receiptRate}} out of 10" nbTooltipStatus="success">
            </ngb-rating>
            </div>
    </nb-card-body>
  </nb-card>
 </div>
</div>
</div>
  <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation example" class="bg-light" style="border-radius: 25px; height: 35px;">
        <pagination-controls (pageChange)="current = $event" align="right"></pagination-controls>
      </nav>
    </div>
</div>
