<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
  <div class="container">
    <nb-card-header>
      <div class="row">
        <div class="col-md-3">
          <h3>Purchase Orders</h3>
        </div>
        <div class="col-md-4">
          <div class="row">
            <input [(ngModel)]="search"
                   nbInput class="w-75"
                   nbTooltip="Search Purchase Order" nbTooltipStatus="primary" placeholder="Search Purchase Order"
                   type="text">
          </div>
        </div>
        <div class="col-md-5">
          <div>
            <a nbTooltip="Visualize data on dimensions grid 2x2" nbTooltipStatus="primary" 
               [routerLink]="['/pim/procurement/purchase-orders/grid']" 
               nbButton status="primary"> <nb-icon icon="grid-outline"></nb-icon></a>&nbsp;
            <a [routerLink]="['/pim/procurement/purchase-orders']" nbButton
               nbTooltip="Visualize data on keypad " nbTooltipStatus="primary" status="warning">
              <nb-icon icon="keypad-outline"></nb-icon>
            </a>&nbsp;
            <a [routerLink]="['/pim/procurement/purchase-orders/list']" nbButton
               nbTooltip="Visualize data on list " nbTooltipStatus="primary" status="basic">
              <nb-icon icon="list-outline"></nb-icon>
            </a>&nbsp;
            <a (click)="exportAsXLSX()"
                    align="right" status="success"
                    nbButton nbTooltip="Click here to export data to Excel" nbTooltipStatus="primary">
              <i class="fas fa-file-excel text-white"></i>
            </a>
          </div>
        </div>
      </div>
    </nb-card-header>
    <div *ngIf="!dataPOs || dataPOs.length === 0" align="center">
      <nb-alert class="w-100 mt-3" outline="danger">No Data Found.</nb-alert>
    </div>
    <div *ngIf="(dataPOs | filter : search).length === 0" [hidden]="dataPOs.length === 0"
         class="">
      <nb-alert class="col-lg-12 mt-3" fullWidth outline="danger">Item Not Found.</nb-alert>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <nb-form-field>
          <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
          <input [nbDatepicker]="datepickerCreated" placeholder="Filter By Creation Date"
                 style="cursor: pointer"
                 class="mx-2 mt-3 w-100" nbInput>
          <nb-datepicker #datepickerCreated
                         (dateChange)="getPOsByCreationDate($event)"></nb-datepicker>
        </nb-form-field>
        <nb-form-field>
          <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
          <nb-select placeholder="Filter by Supplier" (selectedChange)="getPOsBySupplier($event)"
                     selected="0" class="mx-2 mt-3 w-100">
            <nb-option (click)="getAllPOs()" value="All">All</nb-option>
            <nb-option *ngFor = "let supplier of suppliers"
                       [value]="supplier.supplierFirstName + ' ' + supplier.supplierLastName">
              {{supplier.supplierFirstName}} {{supplier.supplierLastName}}
            </nb-option>
          </nb-select>
        </nb-form-field>
        <nb-form-field>
          <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
          <nb-select (selectedChange)="getPOsByStatus($event)"
                       class="mx-2 mt-3 w-100" placeholder="Filter by Status"
                       selected="0">
              <nb-option (click)="getAllPOs()" value="All">All</nb-option>
              <nb-option value="Approved">Approved</nb-option>
              <nb-option value="Pending">Pending</nb-option>
              <nb-option value="Rejected">Rejected</nb-option>
            </nb-select>
        </nb-form-field>
        <nb-form-field>
          <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
          <nb-select placeholder="Sort by Reference"
                       selected="0" class="mx-2 mt-3 w-100">
              <nb-option (click)="getAllPOs()" value="All">All</nb-option>
              <nb-option (click)="getAllPOsASCByCode()" value="1">PO Codes (A-Z)</nb-option>
              <nb-option (click)="getAllPOsDESCByCode()" value="2">PO Codes (Z-A)</nb-option>
            </nb-select>
        </nb-form-field>
        <div class="col-lg-10 mt-3">
        <label>Purchase Orders Per Page :</label>
        <input [(ngModel)]="pageSize" class="w-100" min="6" nbInput type="number">
      </div>
      </div>
      <div class="input-group col-md-9">
      <table class="table mb-0 " id="htmlData" *ngIf="dataPOs.length > 0">
        <thead class="bg-light">
        <tr>
          <th>Reference</th>
          <th>Supplier</th>
          <th>Materials</th>
          <th>Status</th>
          <th>Created</th>
          <th>Expected</th>
          <th>Receipt</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody
          *ngFor="let po of dataPOs | filter : search 
          | paginate : {itemsPerPage:pageSize, currentPage: current,totalItems: dataPOs.length}">
        <tr class="col-md-9 col-sm-10">
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class=" mb-1">{{po.poNumber}}</p>
              </div>
            </div>
          </td>
          <td>
            <a [routerLink]="['/pim/supplier', po.selectedSupplier.supplierId]" 
               style="text-decoration: none;" nbTooltip="Supplier Details" nbTooltipStatus="info">
              <p class="fw-normal mb-1">
                <nb-user [name]="po.selectedSupplier.supplierFirstName + ' ' + po.selectedSupplier.supplierLastName" 
                         picture="{{po.selectedSupplier.supplierImage}}" size="medium"></nb-user>
              </p>
            </a>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class=" mb-1">{{po.materials.length}}</p>
              </div>
            </div>
          </td>
          <td *ngIf="po.poStatus === 'Approved'">
            <p class="fw-normal mb-1 text-success font-weight-bold">
            {{po.poStatus}}
            </p>
          </td>
          <td *ngIf="po.poStatus === 'Pending'">
            <p class="fw-normal mb-1 text-warning font-weight-bold">
            {{po.poStatus}}
            </p>
          </td>
          <td *ngIf="po.poStatus === 'Rejected'">
            <p class="fw-normal mb-1 text-danger font-weight-bold">
            {{po.poStatus}}
            </p>
          </td>
          <td><p class="fw-normal mb-1">{{moment(po.poCreationDate).format('DD MMM YYYY')}}</p></td>
          <td>
            <p class="fw-normal mb-1 text-danger font-weight-bold" style="text-decoration: line-through"
               *ngIf="po.poStatus === 'Rejected'">
              {{moment(po.receptionDate).format('DD MMM YYYY')}}
            </p>
            <p class="fw-normal mb-1" *ngIf="po.poStatus !== 'Rejected'">
              {{moment(po.receptionDate).format('DD MMM YYYY')}}
            </p>
          </td>
          <td>
            <p class="fw-normal mb-1" *ngIf="po.mailSent === true && po.poReceiptState === false">
            <nobr><button nbButton status="success" size="small"
              (click)="receiveMaterials(po.poId)" [hidden]="hiddenConfirm">
              Confirm 
            </button></nobr>
          </p>
            <p class="fw-normal mb-1" *ngIf="po.mailSent === false && po.poStatus === 'Approved'">
          <button nbButton status="primary" [disabled]="disSendBtn"
                  (click)="mailSupplier(po)" size="small" nbTooltip="Send Purchase Order by Mail to Supplier"
                  nbTooltipStatus="primary">
              Send to Supplier
            </button>
        </p>
          <p class="fw-normal mb-1 text-success font-weight-bold" 
          *ngIf="po.poReceiptState === true || hiddenReceipt === false">
            Materials Received
          </p></td>
          <td *ngIf="po.poStatus === 'Rejected'">
            <p class="fw-normal mb-1 text-danger font-weight-bold">
              Purchase Order Rejected
            </p>
          </td>
          <td>
            <button [matMenuTriggerFor]="menu" aria-expanded="false" aria-haspopup="true"
                        shape="round" status="basic"
                        aria-label="Example icon-button with a menu" nbButton
                        nbTooltip="Click here to see advanced menu"
                        nbTooltipStatus="primary"
                        size="small">
                  <nb-icon icon="more-horizontal-outline"></nb-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item *ngIf="po.poStatus !== 'Rejected'">
                      <a [routerLink]="['/pim/procurement/purchase-order/detail',po.poId]" nbButton fullWidth>
                        <span class="text-info"><nb-icon icon="eye-outline"></nb-icon></span>Details
                      </a>
                  </button>
                               <button mat-menu-item *ngIf="po.poStatus !== 'Rejected' && po.poStatus !== 'Pending'">
                        <a (click)="open2(dialog)" fullWidth nbButton>
                          <span class="text-secondary"><nb-icon icon="archive-outline"></nb-icon></span>Archive
                        </a>
                      </button>
                  <button mat-menu-item *ngIf="po.poStatus === 'Rejected'">
                    <a (click)="deletePO(po)" fullWidth nbButton>
                        <span class="text-danger"><nb-icon icon="trash-outline"></nb-icon></span>Delete
                    </a>
                  </button>
                </mat-menu>
                <ng-template #dialog let-data let-ref="dialogRef">
                  <nb-card>
                    <nb-card-header>
                      Confirm archive operation ?
                    </nb-card-header>
                    <nb-card-body>
                      Are you sure you want to archive this purchase order?
                    </nb-card-body>
                    <nb-card-footer>
                      <button (click)="ref.close()" status="danger" class="float-left" nbButton>
                        No
                      </button>
                      <button (click)="onArchiveConfirm(po, ref)" status="success" class="float-right" nbButton>
                        Yes
                      </button>
                    </nb-card-footer>
                  </nb-card>
                </ng-template>
          </td>
        </tr>
        </tbody>
      </table>
     </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="dataPOs.length > 0">
      <nav aria-label="Page navigation example" class="bg-light" style="border-radius: 25px; height: 35px;">
        <pagination-controls (pageChange)="current = $event" align="right"></pagination-controls>
      </nav>
    </div>
  </div>
</div>
