<div class="row">
  <div></div>
  <div class="col-md-12"><a style="float: right;" nbTooltip="Back to list" nbTooltipStatus="primary" shape="round" status="basic" [routerLink]="['/accounting/journallist']" nbButton>
                     <nb-icon icon="corner-up-right-outline"></nb-icon>
  </a></div>
</div>
<div class="container col-lg-6 col-sm-12 mt-5" align="center">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-5"><h3>New Journal</h3></div>
        
      </div>
      </nb-card-header>
    <nb-card-body>
      <form *ngIf="journalForm"
      [formGroup]="journalForm"
      (ngSubmit)="submit()">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div align="left"><label for="name" class="label">Name</label></div>
            <input size="large" fieldSize="large" type="text" nbInput fullWidth id="name" placeholder="Name" formControlName="name">
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div align="left"><label for="code" class="label">Code</label></div>
            <input size="large" fieldSize="large"  type="text" nbInput fullWidth id="code" placeholder="Code" formControlName="code">
          </div>
        </div>
        
      </div>
        <div align="right"><button type="submit" nbButton status="success"><nb-icon icon="checkmark-circle-outline"></nb-icon>Create</button></div>
      
    </form>
    </nb-card-body>
  </nb-card>
</div>