.card {
  border: none;
  -webkit-box-shadow: 1px 0 20px rgba(96, 93, 175, 0.05);
  box-shadow: 1px 0 20px rgba(96, 93, 175, 0.05);
  margin-bottom: 30px;
}

.materialNames:hover {
  background-color: #2b8cf1;
  color: white;
}