<div class="row">
  <div class="col-sm-3">
   
      <div class="card  text-white bg-primary">
          <nb-card-header>
              <p class="card-text">CUSTOMERS : </p>

          </nb-card-header>

          <nb-card-body>
        <p class="card-text">{{numberCustomers}}</p>
      </nb-card-body>
      </div>
   
  </div>
  <div class="col-sm-3">
    <div class="card text-white bg-success">
      <nb-card-header>
          <p class="card-text">EMAILS </p>

      </nb-card-header>

      <nb-card-body>
    <p class="card-text">{{numbermail}}</p>
  </nb-card-body>
      </div>
    
  </div>
  <div class="col-sm-3">
      <div class="card text-white bg-danger">
        
          <nb-card-header>
              <p class="card-text">INVOICES </p>

          </nb-card-header>

          <nb-card-body>
        <p class="card-text">{{relanceList.length}}</p>
      </nb-card-body>      
      </div>
      
    </div>
    <div class="col-sm-3">
      <div class="card text-white bg-warning">
        
          <nb-card-header>
              <p class="card-text">CALLS </p>

          </nb-card-header>

          <nb-card-body>
        <p class="card-text">{{numbesms}}</p>
      </nb-card-body>
        </div>
      
    </div>
</div>
<br>

<div class="row mt-3">
    <div class="col-lg-6">
      <nb-card size="medium">
        <nb-card-header>Parts Status</nb-card-header>
        <nb-card-body >
          <ngx-echarts-pie></ngx-echarts-pie>
        </nb-card-body>
      </nb-card>
    </div>
  
  
    </div>
    <div class="row">

      
     
    <div class="row">

  </div>
  