<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
  <div class="container">
    <nb-card-header>
      <div class="row">
        <div class="col-md-3">
          <h3>Purchase Returns</h3>
        </div>
        <div class="col-md-4">
          <div class="row">
            <input [(ngModel)]="search"
                   nbInput class="w-75" placeholder="Search Archived Purchase Return"
                   type="text">
          </div>
        </div>
        <div class="col-md-5">
          <div>
            <a (click)="exportAsXLSX()"
                    align="right" status="success" [disabled]="dataPurchaseReturns.length === 0"
                    nbButton [nbTooltip]="exportExcelMsg" [nbTooltipStatus]="exportExcelStatus">
              <i class="fas fa-file-excel text-white"></i>
            </a>
          </div>
        </div>
      </div>
    </nb-card-header>
    <div *ngIf="!dataPurchaseReturns || dataPurchaseReturns.length === 0" align="center">
      <nb-alert class="w-100 mt-3" outline="danger">No Data Found.</nb-alert>
    </div>
    <div *ngIf="(dataPurchaseReturns | filter : search).length === 0" [hidden]="dataPurchaseReturns.length === 0"
         class="">
      <nb-alert class="col-lg-12 mt-3" fullWidth outline="danger">Item Not Found.</nb-alert>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <nb-form-field>
          <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
          <nb-select [disabled]="dataPurchaseReturns.length === 0"
                       placeholder="Filter by Material" (selectedChange)="getArchivedPurchaseReturnsByMaterial($event)"
                       selected="0" class="mx-2 mt-3 w-75">
              <nb-option *ngFor = "let material of materials" [value]="material.materialName">
                {{material.materialName}}
              </nb-option>
            </nb-select>
        </nb-form-field>
        <nb-form-field>
          <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
          <nb-select [disabled]="dataPurchaseReturns.length === 0"
                       placeholder="Filter by Supplier" (selectedChange)="getArchivedPurchaseReturnsBySupplier($event)"
                       selected="0" class="mx-2 mt-3 w-75">
              <nb-option *ngFor = "let supplier of suppliers" 
                         [value]="supplier.supplierFirstName + ' ' + supplier.supplierLastName">
                {{supplier.supplierFirstName}} {{supplier.supplierLastName}}
              </nb-option>
            </nb-select>
        </nb-form-field>
        <nb-form-field>
          <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
          <nb-select [disabled]="dataPurchaseReturns.length === 0"
                       placeholder="Sort by Reference"
                       selected="0" class="mx-2 mt-3 w-75">
              <nb-option (click)="getAllArchivedPurchaseReturns()" value="All">All</nb-option>
              <nb-option (click)="getAllArchivedPurchaseReturnsASC()" value="1">Reference (A-Z)</nb-option>
              <nb-option (click)="getAllArchivedPurchaseReturnsDESC()" value="2">Reference (Z-A)</nb-option>
            </nb-select>
        </nb-form-field>
        <div class="col-lg-10 mt-3">
        <label>Purchase Returns Per Page :</label>
        <input [(ngModel)]="pageSize" [disabled]="dataPurchaseReturns.length === 0"
               placeholder="Number to get purchase returns per page"
                 nbTooltip="Tap a number to get purchase returns per page" nbTooltipStatus="primary"
               class="w-100" min="3" nbInput type="number">
      </div>
      </div>
      <div class="input-group col-md-9">
      <table class="table mb-0 " id="htmlData" *ngIf="dataPurchaseReturns.length > 0">
        <thead class="bg-light">
        <tr>
          <th>Reference</th>
          <th>Return Reason</th>
          <th>Returned To</th>
          <th>Material</th>
          <th>Return Made</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody
          *ngFor="let purchaseReturn of dataPurchaseReturns | filter : search 
          | paginate : {itemsPerPage:5, currentPage: current,totalItems: dataPurchaseReturns.length}">
        <tr class="col-md-9 col-sm-10">
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="mb-1 text-success font-weight-bold">
                  {{purchaseReturn.purchaseReturnRef}}
                </p>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="mb-1 text-danger font-weight-bold">{{purchaseReturn.reason}}</p>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-normal mb-1">
            <a [routerLink]="['/pim/supplier', purchaseReturn.material.supplier.supplierId]"
          style="text-decoration: none; cursor: pointer" nbTooltip="Supplier Details" nbTooltipStatus="info">
            <nb-user [name]="purchaseReturn.material.supplier.supplierFirstName + ' ' 
            + purchaseReturn.material.supplier.supplierLastName" 
                     picture="{{purchaseReturn.material.supplier.supplierImage}}" size="medium"></nb-user></a>
          </p>
              </div>
            </div>
          </td>
          <td>
            <a [routerLink]="['/pim/procurement/material', purchaseReturn.material.materialId]"
                    style="text-decoration: none" nbTooltip="Supplier Details" nbTooltipStatus="info">
               <button nbButton shape="round" size="small" 
                       status="dark" class="materialName">
                  {{purchaseReturn.material.materialName}}
               </button>
            </a>
          </td>
          <td><p class="fw-normal mb-1">{{moment(purchaseReturn.purchaseReturnDate).format('DD MMM YYYY hh:mm A')}}</p></td>
          <td>
            <button [matMenuTriggerFor]="menu" aria-expanded="false" aria-haspopup="true"
                        shape="round" status="basic"
                        aria-label="Example icon-button with a menu" nbButton
                        nbTooltip="Click here to see advanced menu"
                        nbTooltipStatus="primary"
                        size="small">
                  <nb-icon icon="more-horizontal-outline"></nb-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                      <a [routerLink]="['/pim/purchase-return/details', purchaseReturn.purchaseReturnId]" nbButton fullWidth>
                        <span class="text-info"><nb-icon icon="eye-outline"></nb-icon></span>Details
                      </a>
                  </button>
                               <button mat-menu-item>
                        <a (click)="open2(dialog)" fullWidth nbButton>
                          <span class="text-secondary"><nb-icon icon="refresh-outline"></nb-icon></span>Restore
                        </a>
                      </button>
                </mat-menu>
                <ng-template #dialog let-data let-ref="dialogRef">
                  <nb-card>
                    <nb-card-header>
                      Confirm restore operation ?
                    </nb-card-header>
                    <nb-card-body>
                      Are you sure you would like to restore this purchase return?
                    </nb-card-body>
                    <nb-card-footer>
                      <button (click)="ref.close()" status="danger" class="float-left" nbButton>
                        No
                      </button>
                      <button (click)="onRestoreConfirm(purchaseReturn, ref)" status="success" class="float-right" nbButton>
                        Yes
                      </button>
                    </nb-card-footer>
                  </nb-card>
                </ng-template>
          </td>
        </tr>
        </tbody>
      </table>
     </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="dataPurchaseReturns.length > 0">
      <nav aria-label="Page navigation example" class="bg-light" style="border-radius: 25px; height: 35px;">
        <pagination-controls (pageChange)="current = $event" align="right"></pagination-controls>
      </nav>
    </div>
  </div>
</div>
