<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
    <div class="container">
  <nb-card-header>
    <div class="row">
      <div class="col-md-3">
        <h3>Quotations</h3>
      </div>
      <div class="col-md-4">
        <div class="row">
            <input [(ngModel)]="searchQ"
             class="w-75 mx-2" nbInput placeholder="Search For Quotation"
             type="text">
        </div>
      </div>
      <div class="col-md-5">
          <div>
            <a nbTooltip="Visualize data on dimensions grid 2x2" nbTooltipStatus="primary"
               [routerLink]="['/pim/procurement/quotations/grid']"
               nbButton status="primary"> <nb-icon icon="grid-outline"></nb-icon></a>&nbsp;
            <a [routerLink]="['/pim/procurement/quotations']" nbButton
               nbTooltip="Visualize data on keypad " nbTooltipStatus="primary" status="warning">
              <nb-icon icon="keypad-outline"></nb-icon>
            </a>&nbsp;
            <a [routerLink]="['/pim/procurement/quotations/list']"
               nbTooltip="Visualize data in table" nbTooltipStatus="primary" nbButton status="basic">
              <nb-icon icon="list-outline">
              </nb-icon>
            </a>&nbsp;
            <a (click)="exportAsXLSX()"
                    align="right" status="success"
                    nbButton nbTooltip="Click here to export data to Excel" nbTooltipStatus="primary">
              <i class="fas fa-file-excel text-white"></i>
            </a>
          </div>
      </div>
    </div>
  </nb-card-header>
  <div class="row">
    <div class="col-md-3">
      <nb-form-field>
        <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
        <input [nbDatepicker]="datepickerCreated" placeholder="Filter By Date"
               style="cursor: pointer"
               class="mx-2 mt-3 w-75" nbInput>
        <nb-datepicker #datepickerCreated
                       (dateChange)="getQuotationsByCreationDate($event)"></nb-datepicker>
      </nb-form-field>
      <nb-form-field>
        <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
        <nb-select placeholder="Filter by Supplier" (selectedChange)="getQuotationsBySupplier($event)"
                   selected="0" class="mx-2 mt-3 w-75">
          <nb-option (click)="getAllQuotations()" value="All">All</nb-option>
          <nb-option *ngFor = "let supplier of suppliers"
                     [value]="supplier.supplierFirstName + ' ' + supplier.supplierLastName">
            {{supplier.supplierFirstName}} {{supplier.supplierLastName}}
          </nb-option>
        </nb-select>
      </nb-form-field>
      <nb-form-field>
          <nb-icon class="mt-3" icon="funnel-outline" nbPrefix></nb-icon>
          <nb-select (selectedChange)="getQuotationsByRFQ_REF($event)"
                       class="mx-2 mt-3 w-75" placeholder="Filter by RFQ"
                       selected="0">
              <nb-option (click)="getAllQuotations()" value="All">All</nb-option>
              <nb-option *ngFor="let rfq of rfqs" [value]="rfq.rfqNumber">
                {{rfq.rfqNumber}}
              </nb-option>
            </nb-select>
        </nb-form-field>
       <nb-form-field>
          <nb-icon icon="funnel-outline" nbPrefix></nb-icon>
          <nb-select class="mx-2 mt-3 w-75" placeholder="Sort by Reference"
                     selected="0">
            <nb-option (click)="getAllQuotations()" value="All">All</nb-option>
            <nb-option (click)="getAllQuotationsASC()" value="1">Names (A-Z)</nb-option>
            <nb-option (click)="getAllQuotationsDESC()" value="2">Names (Z-A)</nb-option>
          </nb-select>
        </nb-form-field>
      <div class="col-lg-10 mt-3">
        <label>Items Per Page</label>
        <input [(ngModel)]="pageSize" class="w-75" min="6"
               nbInput type="number">
      </div>
    </div>
  <div class="col-lg-9">
    <table class="table mb-0">
        <thead class="bg-light">
        <tr>
          <th class="align-middle bt-0">Reference</th>
          <th class="align-middle bt-0">Created</th>
          <th class="align-middle bt-0">Materials</th>
          <th class="align-middle bt-0">Supplier</th>
          <th class="align-middle bt-0 text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let quotation of quotations | filter : searchQ 
          | paginate : {itemsPerPage:pageSize, currentPage: current,totalItems: quotations.length}">
          <td class="align-middle">
            <p>{{quotation.quotationNumber}}</p>
          </td>
          <td class="align-middle">
            <p>{{moment(quotation.quotationCreation).format("DD MMM YYYY hh:mm A")}}</p>
          </td>
          <td class="align-middle">
            <p *ngIf="quotation.rfq?.pr?.material?.length === 1">
              1 Material
            </p>
            <p *ngIf="quotation.rfq?.pr?.material.length > 1">
              {{quotation.rfq?.pr?.material?.length}} Materials
            </p>
          </td>
          <td class="align-middle">
            <a [routerLink]="['/pim/supplier', quotation.supplier?.supplierId]"
                style="text-decoration: none;" nbTooltip="Supplier Details" nbTooltipStatus="info">
              <nb-user [name]="quotation.supplier?.supplierFirstName + ' ' + quotation.supplier?.supplierLastName"
                       picture="{{quotation.supplier?.supplierImage}}"
                       size="medium"></nb-user>
            </a>
          </td>
          <td class="align-middle text-right">
            <div class="btn-group">
              <button [matMenuTriggerFor]="menu" aria-expanded="false" aria-haspopup="true"
                      aria-label="Example icon-button with a menu"
                      nbButton nbTooltip="Click here to see advanced menu"
                      nbTooltipStatus="primary"
                      shape="round"
                      size="small"
                      status="basic">
                <nb-icon icon="more-horizontal-outline"></nb-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <a [routerLink]="['/pim/procurement/quotation/details', quotation.quotationId]" fullWidth nbButton>
                    <span class="text-info">  
                      <nb-icon icon="eye-outline"></nb-icon></span>
                    Details
                  </a>
                </button>
                <button mat-menu-item>
                  <a (click)="open2(dialog)" nbButton fullWidth>
                    <span><nb-icon class="text-secondary" icon="archive-outline"></nb-icon></span>Archive
                  </a>
                </button>
              </mat-menu>
              <ng-template #dialog let-data let-ref="dialogRef">
                    <nb-card>
                      <nb-card-header>Confirm Archive Operation</nb-card-header>
                      <nb-card-body>Are you sure you would like to archive this quotation?</nb-card-body>
                      <nb-card-footer>
                        <div class="row">
                          <button class="col-md-2" status="danger" nbButton (click)="ref.close()">No</button>
                          <div class="col-md-8"></div>
                          <a class="col-md-2" status="success" nbButton (click)="onArchiveConfirm(quotation, ref)">Yes</a>
                        </div>
                      </nb-card-footer>
                    </nb-card>
                  </ng-template>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
      <div class="d-flex justify-content-center mt-2">
        <nav aria-label="Page navigation example" class="bg-light" style="border-radius: 25px; height: 35px;">
          <pagination-controls (pageChange)="current = $event" align="right"></pagination-controls>
        </nav>
      </div>
 </div>
</div>
